{% extends "partials/base.html" %}
    <!-- ***** Header Area End ***** -->
{% block content %}
    <!-- ***** Breadcumb Area Start ***** -->
    <section class="breadcumb-area bg-img gradient-background-overlay"
         style="background-image: url('{{ url_for('static', filename='img/bg-img/benefits.png') }}');">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h3 class="breadcumb-title">Conseils Santé</h3>
                        <p>Prenez soin de vous au quotidien</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Breadcumb Area End ***** -->

    <!-- ***** Blog Area Start ***** -->
    <section class="medilife-blog-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="row">
                        <!-- Single Blog Area -->
                        <div class="col-12 col-md-6">
                            <div class="single-blog-area bg-gray mb-50">
                                <!-- Post Thumbnail -->
                                <div class="blog-post-thumbnail">
                                    <img src="img/blog-img/medcinH1.webp" alt="">
                                    <!-- Post Date -->
                                    <div class="post-date">
                                        <a href="#">Jan 23, 2018</a>
                                    </div>
                                </div>
                                <!-- Post Content -->
                                <div class="post-content">
                                    <div class="post-author">
                                        <a href="#"><img src="img/blog-img/avatar.avif" alt=""></a>
                                    </div>
                                    <a href="#" class="headline">Conseils cas courant</a>
                                    <p> reposez-vous, hydratez-vous bien et prenez un antipyrétique si nécessaire. Consultez un médecin si elle persiste plus de 48h.
                                        <a href="#" class="comments">+ de Commentaires</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Blog Area -->
                        <div class="col-12 col-md-6">
                            <div class="single-blog-area bg-gray mb-50">
                                <!-- Post Thumbnail -->
                                <div class="blog-post-thumbnail">
                                    <img src="img/blog-img/medcinH2.webp" alt="">
                                    <!-- Post Date -->
                                    <div class="post-date">
                                        <a href="#">Jan 23, 2018</a>
                                    </div>
                                </div>
                                <!-- Post Content -->
                                <div class="post-content">
                                    <div class="post-author">
                                        <a href="#"><img src="img/blog-img/avatar.avif" alt=""></a>
                                    </div>
                                    <a href="#" class="headline">Maladies Pulmonaires</a>
                                    <p>Les maladies pulmonaires, comme l’asthme, la bronchite chronique ou la BPCO (Broncho-Pneumopathie Chronique Obstructive), nécessitent une attention particulière</p>
                                    <a href="#" class="comments">+ de Commentaires</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Blog Area -->
                        <div class="col-12 col-md-6">
                            <div class="single-blog-area bg-gray mb-50">
                                <!-- Post Thumbnail -->
                                <div class="blog-post-thumbnail">
                                    <img src="img/blog-img/3.jpg" alt="">
                                    <!-- Post Date -->
                                    <div class="post-date">
                                        <a href="#">Jan 23, 2018</a>
                                    </div>
                                </div>
                                <!-- Post Content -->
                                <div class="post-content">
                                    <div class="post-author">
                                        <a href="#"><img src="img/blog-img/avatar.avif" alt="" ></a>
                                    </div>
                                    <a href="#" class="headline">Prenez soin de votre peau</a>
                                    <p>La peau est le plus grand organe du corps et nécessite des soins adaptés pour rester en bonne santé.</p>
                                    <a href="#" class="comments">+ de Commentaires</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Blog Area -->
                        <div class="col-12 col-md-6">
                            <div class="single-blog-area bg-gray mb-50">
                                <!-- Post Thumbnail -->
                                <div class="blog-post-thumbnail">
                                    <img src="img/blog-img/1.jpg" alt="">
                                    <!-- Post Date -->
                                    <div class="post-date">
                                        <a href="#">Jan 23, 2018</a>
                                    </div>
                                </div>
                                <!-- Post Content -->
                                <div class="post-content">
                                    <div class="post-author">
                                        <a href="#"><img src="img/blog-img/avatar.avif" alt=""></a>
                                    </div>
                                    <a href="#" class="headline">Quand Consulter un Médecin ? </a>
                                    <p>Consultez immédiatement un professionnel de santé si vous ressentez.... </p>
                                    <a href="#" class="comments">+ de Commentaires</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Blog Area -->
                        <div class="col-12 col-md-6">
                            <div class="single-blog-area bg-gray mb-50">
                                <!-- Post Thumbnail -->
                                <div class="blog-post-thumbnail">
                                    <img src="img/blog-img/2.jpg" alt="">
                                    <!-- Post Date -->
                                    <div class="post-date">
                                        <a href="#">Jan 23, 2018</a>
                                    </div>
                                </div>
                                <!-- Post Content -->
                                <div class="post-content">
                                    <div class="post-author">
                                        <a href="#"><img src="img/blog-img/avatar.avif" alt=""></a>
                                    </div>
                                    <a href="#" class="headline">Santé Mentale et Bien-Être</a>
                                    <p>Gestion du stress : pratiquez la méditation, le yoga ou des exercices de respiration.<br> Déconnexion numérique : réduisez le temps passé sur les écrans pour favoriser un meilleur sommeil.
                                    <a href="#" class="comments">+ de Commentaires</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Blog Area -->
                        <div class="col-12 col-md-6">
                            <div class="single-blog-area bg-gray mb-50">
                                <!-- Post Thumbnail -->
                                <div class="blog-post-thumbnail">
                                    <img src="img/blog-img/3.jpg" alt="">
                                    <!-- Post Date -->
                                    <div class="post-date">
                                        <a href="#">Jan 23, 2018</a>
                                    </div>
                                </div>
                                <!-- Post Content -->
                                <div class="post-content">
                                    <div class="post-author">
                                        <a href="#"><img src="img/blog-img/p3.jpg" alt=""></a>
                                    </div>
                                    <a href="#" class="headline">Suivi Médical Régulier</a>
                                    <p>Consultations préventives : effectuez un bilan de santé annuel.
                                      <br>Vaccination : mettez à jour vos vaccins pour vous protéger contre certaines maladies.
                                      <br>Examens médicaux : contrôlez régulièrement votre tension, votre taux de cholestérol et votre...</p>
                                      <a href="#" class="comments">+ de Commentaires</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4">
                    <div class="medilife-blog-sidebar-area">

                        <!-- Search Widget -->
                        <div class="search-widget-area mb-50">
                            <form action="#" method="get">
                                <input type="search" placeholder="Rechercher un terme">
                                <input type="submit" value="valider">
                            </form>
                        </div>

                        <!-- Catagories Widget -->
                        <div class="medilife-catagories-card mb-50">
                            <h5>Categories</h5>
                            <ul class="catagories-menu">
                                <li><a href="#">Dermatolodie</a></li>
                                <li><a href="#">Cardiologie</a></li>
                                <li><a href="#">Medecine generale </a></li>
                                <li><a href="#">...</a></li>
                                <li><a href="#">...</a></li>
                                
                            </ul>
                        </div>

                        <!-- Latest News -->
                        <div class="latest-news-widget-area mb-50">
                            <h5>Latest News</h5>
                            <div class="widget-blog-post">
                                <!-- Single Blog Post -->
                                <div class="widget-single-blog-post d-flex align-items-center">
                                    <div class="widget-post-thumbnail pr-3">
                                        <img src="img/blog-img/ln1.jpg" alt="">
                                    </div>
                                    <div class="widget-post-content">
                                        <a href="#">Soulager son allergie</a>
                                        <p>Dec 02, 2017</p>
                                    </div>
                                </div>
                                <!-- Single Blog Post -->
                                <div class="widget-single-blog-post d-flex align-items-center">
                                    <div class="widget-post-thumbnail pr-3">
                                        <img src="img/blog-img/ln2.jpg" alt="">
                                    </div>
                                    <div class="widget-post-content">
                                        <a href="#">baisser la fievre</a>
                                        <p>Dec 02, 2017</p>
                                    </div>
                                </div>
                                <!-- Single Blog Post -->
                                <div class="widget-single-blog-post d-flex align-items-center">
                                    <div class="widget-post-thumbnail pr-3">
                                        <img src="img/blog-img/ln3.jpg" alt="">
                                    </div>
                                    <div class="widget-post-content">
                                        <a href="#">traiter l'asthme</a>
                                        <p>Dec 02, 2017</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- medilife Emergency Card -->
                        <div class="medilife-emergency-card bg-img bg-overlay" style="background-image: url(img/bg-img/about1.jpg);">
                            <i class="icon-smartphone"></i>
                            <p>Ouvert tous les jours 24H/24 <br> Contact : <span>+2250105789625</span></p>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <!-- Pagination Area -->
                    <div class="pagination-area mt-50">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">01</a></li>
                                <li class="page-item active"><a class="page-link" href="#">02</a></li>
                                <li class="page-item"><a class="page-link" href="#">03</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Blog Area End ***** -->

    <!-- ***** Footer Area Start ***** -->
    <footer class="footer-area section-padding-100">
        <!-- Main Footer Area -->
        <div class="main-footer-area">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-12 col-sm-6 col-xl-3">
                        <div class="footer-widget-area">
                            <div class="footer-logo">
                                <img src="img/core-img/logo.png" alt="">
                            </div>
                            <p>Notre IA vous aide à analyser vos symptômes et vous oriente vers la meilleure décision médicale.</p>
                            <div class="footer-social-info">
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-xl-3">
                        <div class="footer-widget-area">
                            <div class="widget-title">
                                <h6>Conseils Santé</h6>
                            </div>
                            <div class="widget-blog-post">
                                <!-- Single Blog Post -->
                                <div class="widget-single-blog-post d-flex">
                                    <div class="widget-post-thumbnail">
                                        <img src="img/blog-img/ln1.jpg" alt="">
                                    </div>
                                    <div class="widget-post-content">
                                        <a href="#">Soulager son allergie</a>
                                        <p>Dec 02, 2017</p>
                                    </div>
                                </div>
                                <!-- Single Blog Post -->
                                <div class="widget-single-blog-post d-flex">
                                    <div class="widget-post-thumbnail">
                                        <img src="img/blog-img/ln2.jpg" alt="">
                                    </div>
                                    <div class="widget-post-content">
                                        <a href="#">baisser la fievre</a>
                                        <p>Dec 02, 2017</p>
                                    </div>
                                </div>
                                <!-- Single Blog Post -->
                                <div class="widget-single-blog-post d-flex">
                                    <div class="widget-post-thumbnail">
                                        <img src="img/blog-img/ln3.jpg" alt="">
                                    </div>
                                    <div class="widget-post-content">
                                        <a href="#">traiter l'asthme</a>
                                        <p>Dec 02, 2017</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-xl-3">
                        <div class="footer-widget-area">
                            <div class="widget-title">
                                <h6>Contactez-Nous</h6>
                            </div>
                            <div class="footer-contact-form">
                                <form action="#" method="post">
                                    <input type="text" class="form-control border-top-0 border-right-0 border-left-0" name="footer-name" id="footer-name" placeholder="Name">
                                    <input type="email" class="form-control border-top-0 border-right-0 border-left-0" name="footer-email" id="footer-email" placeholder="Email">
                                    <textarea name="message" class="form-control border-top-0 border-right-0 border-left-0" id="footerMessage" placeholder="Message"></textarea>
                                    <button type="submit" class="btn medilife-btn">Envoyer <span>+</span></button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-xl-3">
                        <div class="footer-widget-area">
                            <div class="widget-title">
                                <h6>Laissez-nous Votre préocupation</h6>
                            </div>

                            <div class="footer-newsletter-area">
                                <form action="#">
                                    <input type="email" class="form-control border-0 mb-0" name="newsletterEmail" id="newsletterEmail" placeholder="votre email ici">
                                    <button type="submit">souscrire</button>
                                </form>
                                <p>Notre chatbot analyse vos symptômes en 2 min, 24h/24, avec des recommandations personnalisées basées sur des données médicales certifiées.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom Footer Area -->
        <div class="bottom-footer-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="bottom-footer-content">
                            <!-- Copywrite Text -->
                            <div class="copywrite-text">
                                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Tout droit reservé | Master 2 Data Science
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
<p>realisé par les <a href="https://colorlib.com" target="_blank">2R</a>
</p>                      </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ***** Footer Area End ***** -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>

 {% endblock %}